/* define official THIS colours */
:root {
    --this-dark-grey: rgb(83, 86, 90);
    --this-light-grey: rgb(200, 201, 199);
    --this-red: rgb(221, 0, 49);
    --this-bright-blue: rgb(91, 194, 231);
    --this-pale-blue: rgb(143, 172, 217);
    --this-green: rgb(0, 187, 126);
    --this-pink: rgb(232, 156, 174);
    --this-aubergine: rgb(108, 29, 69);
    --this-yellow: rgb(255, 198, 88);
}

.NextButton {
    border: 2px solid;
    border-color: var(--this-pale-blue);
    border-radius: 300px;
    padding: 10px 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    transition: all 150ms linear;
}

.NextButton:hover {
    color: white;
    background-color: var(--this-pale-blue);
}

.PreviousButton {
    border: 2px solid;
    border-color: var(--this-pale-blue);
    border-radius: 300px;
    padding: 10px 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    transition: all 150ms linear;
}

.PreviousButton:hover {
    color: white;
    background-color: var(--this-pale-blue);
}

/* this next lot overrides Qualtrics defaults */

.QuestionBody img {
    height: 300px !important;
}

.Skin button, .Skin input {
    font-size: small;
}

.Skin .TE .ML textarea {
    height: 2.5em;
}

.Skin #Buttons {
    margin-top: 0;
}

.Skin .QuestionText {
    font-size: small;
    padding: 10px 10px 0px 10px;
}

.Skin .QuestionBody {
    font-size: small;
    padding-bottom: 0;
}

.Skin .SkinInner {
    padding-top: 0;
}

.Skin #Plug {
    text-align: center;
    font-size: smaller;
    background-color: var(--this-light-grey);
}

.Skin #Plug a {
    color: var(--this-dark-grey);
}

.Skin #PushStickyFooter {
    height: 0;
}

/*  validation error text */
.Skin .ValidationError {
    text-align: left;
    padding: 10px 0px 5px 10px;
}

#ProgressBar {
    padding: 0;
}

/* end of Qualtrics overrides */

#THISlogo {
    height: 40px !important;
}

#LogoLine {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.1em;
    border-style: solid;
    color: var(--this-pale-blue);
}
